body  {
    background-color: #e4f1fe !important;
    margin: 0 1rem !important;
}

html {
    scroll-behavior: smooth;
}

.bg-custom {
    background-color: #22283100 !important;
}

.font-custom {
    color: #ff4c15 !important;
    font-weight: 900;
    font-size: 1.5rem;
}

.container:first-child {
    margin-top: 7rem !important;
}

.container{
    text-align: center;
    margin-bottom: 3rem !important;
}

.carousel-inner img{
    max-height: 400px;
    object-fit:cover;
}


#highlights{
    height: 100%;
}

#main-dishes{
    height: 100%;
}

#appetizer{
    height: 100%;
}

#dessert{
    height: 100%;
}

#vegan{
    height: 100%;
}

#contact{
    height: 100%;
}
